// Fonts //
$font-base: 'Poppins', sans-serif;
$font-bold: 'Urbanist', sans-serif;
// Colors //
$white: #fff;
$blue: #097FD9;
$grey: rgba(255, 255, 255, 0.50);
$background: #090707;
$background-section: rgba(255, 255, 255, 0.11);
$slider: #0D0D0D;
$transform: rgba(0, 0, 0, 0.20);
$pricing: rgba(9, 7, 7, 0.60);
$card: #878787;
$member: #757575;
$copyright: rgba(225, 225, 225, 0.60);